/* style de la page */
body{
    margin-top: 5vh;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}
/* conteneur principal*/
.container{
    width: 90vw;
    margin: 0 auto;
}

/*système de tabulations*/
ul.tabs{
    padding-left: 10px;
    width: calc(90vw - 10px);
    background: #cecece;
    margin: 0px;
    list-style: none;
    display: flex;
}
ul.tabs li{
    border-radius: 5px 5px 0px 0px; 
    background: #cecece;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: inherit;
    height: 75vh;
    background: #ededed;
    padding: 15px;
    overflow-x:auto;
    margin-top: 0px;
}
/* barre de recherche */
label{
    display: flex;
    border-radius: 5px;
    padding: 12px 10px;
    background: #cecece;
}
label input{
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    flex: 1;
    margin: 0px 5px;
    background: none;
    border: none;
}

#tab-loop{
    font-size: 19px;
    color: #25c481;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*style du tableau principal*/
table {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
    overflow-x:auto;
}
table thead tr {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    color: white;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
   
    /*padding: 10px;*/
}
  
table th,
table td {
    padding: 8px;
    text-align: center;
}
  
table th {
    padding:10px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* permet d'avoir une meilleure responsivité sur le tableau */
@media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
}

/* 
 * style du bouton
 */
.button {
    background: #25c481; /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
  
.button:hover {
    background: #25b7c4;
}

/* Popup */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.popup {
    background-color: #fefefe;
    width: 40vw; /* Could be more or less, depending on screen size */
}

@media screen and (max-width: 600px) {
    .popup {
        background-color: #fefefe;
        width: 80vw; /* Could be more or less, depending on screen size */
    }
}

.popup-header {
    align-items: center;
    display: flex;
    height: 45px;
    background-color: lightgray;
}

.popup-header h2{
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size:large;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

#popup-back, #popup-close{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25c481;
    color: white;
    width: 40px;
    height: 40px;
    margin: 2.5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#popup-back:hover, #popup-close:hover {
    text-decoration: none;
    cursor: pointer;
    background: #25b7c4;
}

#popup-content {
    margin: 15px;
    border: 1px solid #ddd;
}
.popup-element {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: medium;
    text-align: right;
}
  
.popup-element::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
